<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.vocadiaryk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".registeration"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"/>
        <activity android:name=".emailPassword"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"/>
        <activity android:name=".indivisualWord" />
        <activity android:name=".AddWord" />
        <activity android:name=".MyList" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signInPage"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pop"
            android:theme="@style/AppTheme.cutomTheme" />

        <provider
            android:name=".data.VocaProvider"
            android:authorities="com.example.android.vocadiaryk"
            android:exported="false" />
    </application>

</manifest>